{
  "extends": [
    "eslint:recommended",
    "plugin:node/recommended"
  ],
  "rules": {
    "semi": [
      "error",
      "always"
    ],
    "brace-style": [
      "error",
      "stroustrup"
    ]
  }
}
